.skill-card-section {
  padding: 3rem;
  background: #fff;
  filter: drop-shadow(1px 0.6px 3px #00000014);
  margin: 3rem 2rem;
  border-radius: 1rem;
  width: 22rem;
  color: black;
}

.skill-card-section p {
  text-align: center;
  margin-top: 0rem;
}
.skill-card-section h3 {
  text-align: center;
  margin-top: 2rem;
}

.learn-more-btn {
  color: #002fff !important;
  background: #D2E5FF !important;
  padding: 1rem 4rem 0.9rem 4rem !important;
  margin: 1rem 0 0 0 !important;
  border-radius: 0.5rem !important;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
}