#skills-section {
  /* height: 110vh; */
  background: transparent url('../../assets/middle_img.png') no-repeat;
  background-size: 100%;
  background-position: top;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 3rem;
  color: white;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0rem 3rem;
  justify-content: center;
  align-items: center;
}
#skills-section > p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  margin: 1rem 20% 1rem 20%; 
}
@media screen and (max-width: 600px) {
  #skills-section {
    background: transparent url("../../assets/middle_img.png") no-repeat;
    background-size: auto;
  }
  #skills-section > p {
    margin: 1rem 8% 1rem 8%; 
  }
}
@media screen and (max-width: 720px) and (min-width: 601px){
  #skills-section > p {
    margin: 0.2rem 8% 1rem 8%; 
  }
}