.card-section {
  padding: 1rem 0 1rem 2rem;
  background: #fff;
  filter: drop-shadow(1px 0.6px 6px rgb(228, 228, 228));
  margin: 1rem 1rem;
  border-radius: 1rem;
  width: 26rem;
}
.card-left {
  width: 65%;
  margin-left: 0.7rem;
}
.btn-open {
  padding: 0.7rem 1.4rem;
  margin: 0 1rem 0 0 !important;
  border-radius: 1.5rem !important;
  border: 0;
}
.btn-github {
  padding: 0.7rem 1.4rem;
  margin: 0px !important;
  border-radius: 1.5rem 0 0 1.5rem !important;
  border: 0;
}

@media screen and (max-width: 600px) {
  .card-section {
    margin: 1rem 0rem;
    width: 25rem;
  }
}
